@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
  font-family: "Roboto", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* Email of phone number와 password 사이를 구분하는 경계선을 만들었다. */
  margin-bottom: 25px;
  /*  <input>들간의 공간을 만듬 */
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  /* placeholder에 쓰인 글자들은 색이 더 연해야 한다.  */
}

#login-form input:focus {
  border-color: var(--yellow);
  /*  variables.css 에 작성한 변수를 사용한다. */
}

/*
input:focus {
  outline: none;
}  을 reset.css에 적어줘 focus 됐을 때 outlone이 사라지게 설정했다.


colorzilla라느 크롬 확장앱을 사용해 여러 페이지나 파일의 색상을 알아낼 수 있다.

변수를 담는 variables.css라는 파일을 별도로 만들었다.

*/
