.chat-screen {
  background-color: #abc1d1;
  /* 채팅의 배경색을 설줭해줬다. */
  height: 11000vh;
  /* 채팅 화면의 스크롤을 구현하기 위함이다. */
}

.chat-screen .alt-header,
.chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  /* position: fixed; 로 고정하고 width를 줘야지만 왼쪽으로 아이콘이 쏠리지 않는다. */
  box-sizing: border-box;
  /* box-sizing: border-box;을 주지 않으면 맨 오른쪽 아이콘이 오른쪽까지 넘어가 버린다. */
  background-color: #abc1d1;
  /* 스크롤 시에 alt-header와 timestamp가 겹쳐 보이는 것을 방지하기 위해 배경색을 주었다.
    다만 이러면 alt-header가 status-bar를 가리게 된다. 이를 수정하기 위해 z-inderx라는 것을
    사용해야 한다. z-index는 <div>가 맨 앞에서부터 몇 번쨰인지 즉 layer 순서를 나타낸다.
    display를 사용하거나 positon: fixed나 absolute;를 사용하면 layer를 갖게 된다. 기본값은 0이다.
    즉 status-bar와 alt-header가 main-screen을 덮고있는 것이다.
  */
  top: 10px;
}

.chat-screen .alt-header {
  z-index: 1;
}

.chat-screen .status-bar {
  z-index: 2;
}

/* z-index는 숫자가 클수록 위의 layer이다. */

.main-chat {
  margin-top: 120px;
  /* .chat-screen .alt-header에 top: 0;를 줘서 맨 위에 고정시키고 main-chat에 margin-top: 150px;를 줘서
      status-bar와 alt-header가 timestamp 위에 있어서 겹쳐 보이는 현상을 해결한다.

      /* 어떤 요소를 고정하면 그 요소는 이전의 box들과 다른 layer가 되므로 padding이 아닌 margin를 가져야만 한다. */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex;을 주면 배경이 글자에 맞게 크기가 변하는 것을 볼 수 있다. flex이기 떄문
    flex-direction: column;으로 주축의 방향을 바꾼 후 align-items: center; 로 중앙 정렬
  */
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
  /* timestamp와 message-row 간의 공간을 줬다. */
}

.message-row {
  width: 100%;
  display: flex;

  /* width: 100%;를 주면 message-row가 왼쪽에 정렬된다.
  display: flex;로 <img>와 <div>가 한 줄에 오도록 한다.
  */
  margin-bottom: 25px;
  /* 채팅 간의 공간을 만들어줬다. */
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
  /* 사진과 message__author 간의 공간을 주었다. */
}
.message__author {
  margin-bottom: 5px;
  display: block;
  /* message__author는 <span>이기 때문에 display: block;을 줘야 padding이나 margin을 줄 수 있다. */
}

.message_info {
  display: flex;
  align-items: flex-end;
  /* align-items를 쓰기 위해 display: flex; 준 후 align-items: flex-end; 으로 수직 아래에 message_info를 배치한다.
    특히 message_time이 아래쪽에 깔리 게 하기 위함이 크다.
  */
}

.message__bubble {
  background-color: white;
  padding: 13px;
  /* 좌우 padding 값을 줘야 배경과 글자 사이 공간이 생김 */
  font-size: 18px;
  border-radius: 35%;
  border-top-left-radius: 0px;
  /* 말풍선 꼭다리를 만들었다. */
  margin-right: 5px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  /* message-row에서 이미 display: flex;를 줬기 때문에 여기선 생략한다. */
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  /* 내가 채팅한 말풍선의 꼭다리를 만들어줬다. message__bubble 만들었던 다른 꼭다리는 필요 없으므로 수정해줬다. */
  margin-right: 0px;
  margin-left: 5px;
  /* 아래 말풍선은 방향이 다르므로 .message__bubble에서 줬던 margin-right을 다시 0px로 만들어줬다. */
}

.message-row--own .message__time {
  margin-right: 5px;
}

/*
.message-row--own .message__time {
order: 0;
}
.message-row--own .message__bubble {
order: 1;
}

order를 이용해 순서를 바꿀 수 있다. 다만 flex children에게만 사용 가능하다.
*/

.message-row--own .message_info {
  flex-direction: row-reverse;
  /* 이 경우엔 위 order를 사용하는 것 보다 이런 식으로 flex-direction을 변경하는 게 더 편하다. */
}
