.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  /*  <input>들간의 공간을 만듬 */
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  /* 
    not으로 log in 버튼의 border-bottom이 노란색이 되는 걸 방지했다. 
    :not()으로 묶인 것을 제외하고 내용이 적용된다.
    */
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  /*  
    여기서 input:placeholder는 일종의 가상 클래스 선택자(pseudo element)이다.
    */
}

#login-form input:focus {
  border-color: var(--yellow);

  /* log in 버튼에 border-bottom이 적용되지 않아 여기를 수정할 필요가 없다. */
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  /* input이랑 [type="submit"] 사이에 공간이 있으면 안 됨  */
  cursor: pointer;
  /* lo in 버튼을 focus하면 마우스 커서가 손가락 모양으로 바뀐다. 이외에 not allowed나 progress 등의 옵션이 존재한다.*/
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  /*  text-align으로 텍스트를 중앙으로 정렬 */
  text-decoration: none;
  color: inherit;
  /* 
  텍스트가 링크이기 때문에 기본 색상이 blue 였던 걸 변경했다. inherit은 부모로부터 상속반는 것을 의미한다. 이 경우엔 default 값인 black이 적용된다.  
  */
  font-size: 13px;
}
