.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.settings__setting i {
  opacity: 0.8;
  /* 아이콘의 투명도를 별도로 지정해줬다. */
  margin-right: 20px;
  font-size: 22px;
  /* 위에서는 텍스트의 크기를 정하고 여기선 별도로 아이콘의 크기를 키워줬다. */
}
