.screen-header {
  display: flex;
  /* display: flex;를 줘서 <h1>과 아이콘들이 한줄에 나란히 정렬된다. */
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  /* variables.css에 있는 변수를 가져와 사용했다. */
  margin-bottom: 15px;
  /* Chats 화면을 위해 margin을 추가했다. */
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  /* Friends 텍스트에 대한 설정 */
}

.screen-header__icons span {
  margin-left: 25px;
  /* <div> 내 <span>들끼리의 margin-left를 주었다.*/
  position: relative;
  /* .screen-header-cog__reddot에서 absolute를 제대로 쓰기 위해 그 부모에 relative를 주었다. */
}

/* position: relative; 혹은 positon: absolute 를 줬을 때만 left , right , top , bottom을 사용할 수 있다. 이외에는 위치를 재조정하고 싶으면 padding이나 margin을 사용해보자 */

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
    /* cog가 Z축을 기준으로 회전한다. */
  }
}

.screen-header__icons .fa-cog:hover {
  /* 마우스 오버가 됐을 때만 작동 */
  animation: rotateCog 2s linear infinite;
}

.screen-header__cog-reddot {
  background-color: tomato;
  position: absolute;
  display: flex;
  width: 5px;
  height: 5px;
  bottom: 20px;
  border-radius: 50%;
}
/* find.html cog 아이콘 위에 붉은 점을 찕기 위한 코드이다.*/
