.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;

  /*  아이콘에 padding 값을 줬다. */
}
.status-bar__column {
  width: 100%;
  position: fixed;

  /* 
position: fixed를 사용하기 전 width: 33%를 줬던 이유는 css hack 사용시 재정렬을 하기 전 왼쪽으로 모든 아이콘을 모아놓기 위해서이다.  
왼쪽) (상단 요소 그대로) ,중앙) display: flex, justify-content: center , 오른쪽) display: flex, justify-content: flex-end, align-items: center 이 그것이었다.
이제는 스크롤 시에도 고정시키기 위해 posiotn: fixed;를 줘야 하므로 wodth: 100%를 줘야만 한다.
  */
}
.status-bar__column:first-child span {
  margin-right: 5px;
  /* <span>과 아이콘 사이의 margin을 5px 주었다. */
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

/* 
status-bar 관련 요소만 분리한 status-bar.css 파일을 분리해 별도의 파일로 만들었다. 

모든 페이지가 상태바를 가지고 있어 파일을 분리시킨 후 공유하는 것이 좋다.

*/
